@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <h3>Home Office Management</h3>
    <hr />
    <div class="card">
        <div class="card-body shadow-success">
            <h2 class="text-success">Admin</h2>
            <hr />
            <div class=" fa fa-user">
                User Name : user@user.com
            </div>
            <div class="fa fa-lock">
                Password : Password#123
            </div>
            <hr />
            <h3 class="text-primary"> For User Please Registration</h3>
        </div>
    </div>
</div>
